/* Global settings*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rock+Salt&display=swap');

body {
    background-color: black;
    color: #F5F5F5;
    font-size: 12px;
    max-width: 1400px;
    font-family: 'Comic Neue', sans-serif;
    padding-bottom: 75px;
    margin: 0 auto;
}
h1 {
    color: #F50000;
    font-family: 'Rock Salt', sans-serif;
    margin-top: 20px;
}
h2 {
    color: #F50000;
    font-family: 'Rock Salt', sans-serif;
    margin-top: 20px;   
}
h4 {
    color: #F50000;
    font-family: 'Rock Salt', sans-serif;
    margin-top: 20px;   
}
h5 {
    margin-top: 20px;
    color: #F50000;
}

/* Navigation bar */
.navbar-brand {
    color: #F5F5F5;
}
.navbar-brand:hover {
    color: #F50000;
}
.navbar {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #a9a9a9;
}
.navbar-text{
    color: #F50000;
    text-decoration: none;
    font-size: 1.2rem;
}
.nav-item:hover {
    color: #F50000;
}
.nav-item a {
    color: #F5F5F5;
    text-decoration: none;
    font-size: 1.2rem;
}
.nav-item a:hover {
    color: #F50000;
}
.nav-search {
    color: #F5F5F5;
    border-color: #F50000;
    font-size: 1.2rem;
}
.nav-btn{
    color: #F5F5F5;
    border-color: #F50000;
    background-color: black;
    font-size: 1.2rem;
}
.nav-btn:hover {
    color: #F50000;
    background-color: black;
    border-color: #F50000;
}
.navbar-close-icon {
    color: #F50000;
    font-size: 2rem;
    cursor: pointer;
}

/* search bar*/
.nav-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.nav-search select {
    color: #F5F5F5;
    border-color: #F50000;
    background-color: black;
    font-size: 1.2rem;
    text-align: center;
}
.nav-search select:focus {
    outline: none;
    border-color: #F50000;
    background-color: black;
    font-size: 1.2rem;
    box-shadow: none;
    color: #F50000;
}
.nav-search input {
    color: #F5F5F5;
    border-color: #F50000;
    background-color: black;
    font-size: 1.2rem;
    width: 100%;
}
.nav-search input:focus {
    border-color: #F50000;
    outline: none;
    box-shadow: none;
    background-color: black;
    color: #F5F5F5;
}
form.d-flex select {
  width: 120px;
  min-width: unset;
}
form.d-flex input[type="text"] {
  flex: 1;
  min-width: 0;
}

/*Hero image and text*/
.hero-image {
    margin-top: 40px;
    margin-bottom: 20px;
    max-height: 100%;
    overflow: hidden;
}
.hero-image img {
    height: 100%;
}
.hero-image p {
    font-size : 20px;
    margin-bottom: 0;
}

/*About page*/
.about{
    font-size: 1.2rem;
}

/*Sign up / Login pages*/
.page-item {
    font-size: 1.2rem;
    max-width: 700px;
    color: #F5F5F5;
}
/* Help text */
.helptext {
    color: #F5F5F5;
}
/* Help text list elements to adjust spacing and remove bullet points */
.page-item ul,
.page-item ul li 
{
    list-style: none;
    color: #F5F5F5;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

/* Help text elements*/
.page-item input[type="text"],
.page-item input[type="email"],
.page-item input[type="password"],
.page-item input[type="file"],
.page-item select,
.page-item textarea {
  width: 100%;
  background-color: black !important;
  color: #F5F5F5 !important;
  border: 1px solid #F50000 !important;
  font-size: 1.1rem;
  border-radius: 4px;
}
.page-item input[type="date"] {
  width: 100%;
  background-color: black;
  color: #F5F5F5;
  border: 1px solid #F50000;
  font-size: 1.1rem;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}
.page-item input[type="file"]::file-selector-button {
  background-color: black;
  border: 1px solid red;
  color: #F5F5F5;
}
.page-item input:focus,
.page-item select:focus,
.page-item textarea:focus {
  outline: none;
  border-color: #F50000;
  box-shadow: none;
  background-color: #111 !important;
}
/* All Page Buttons */
.page-btn{
    color: #F5F5F5;
    border-color: #F50000;
    background-color: black;
    font-size: 1.2rem;
    border-radius: 7px;
    margin-top: 20px;
    text-decoration: none;
  }
.page-btn:hover {
    color: #F50000;
    background-color: black;
    border-color: #F50000;
}

/* Search results */
.search-item {
    font-size: 1.2rem;
}
.search-item ul,
.search-item ul li {
    list-style: none;
    color: #F5F5F5;
    padding: 0;
}
.search-item a {
    color: #F5F5F5;
    font-size: 1.2rem;
}
.result-card {
    background-color: black;
    border: 1px solid #F50000;
    border-radius: 10px;
    padding: 0.75rem;
}
.result-card img{
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 50%;
    margin: 1rem auto;
}
.result-card a {
    color: #F50000;
    margin-top: 0;
    margin-bottom: 0;
}
.result-card a:hover {
    color: #F5F5F5;
}
.link {
    color: #F50000;
    text-decoration: none;
    font-size: 1.2rem;
}
.link a {
    color: #F50000;
    text-decoration: none;
}
.link a:hover {
    color: #F5F5F5;
    text-decoration: underline;
}

/* Wall of Chaos */
.chaos-card {
    background-color: black !important;
    color: #F5F5F5;
    font-size: 1.2rem;
    border: 1px solid #F50000;
    border-radius: 10px;
    padding: 0.75rem;
    margin-bottom: 1rem;
}
.card-img-top {
    width: 75%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    align-self: center;
    border: none !important;
    display: block;
    margin: 0 auto;
}
.card-text {
    color: #F5F5F5;
}
.tilt {
    transform: rotate(-1.5deg);
    transition: transform 0.3s ease;
}
.tilt:nth-child(2n) {
    transform: rotate(1.5deg);
}
.tilt:hover {
    transform: rotate(0deg) scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.horns {
    max-height: 100px;
    width: auto;
    object-fit: contain;
    align-self: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

/* Profile Page */
.profile-page {
  font-size: 1.2rem;
  color: #F5F5F5;
}
.profile-page img {
  border: 1px solid #F50000;
  border-radius: 50%;
  object-fit: contain;
  max-width: 100%;
}
.profile-page p {
  font-size: 1.2rem;
  color: #F5F5F5;
}
.profile-page a {
    color: #F5F5F5;
}
.profile-page a:hover {
    color:#F50000;
}
.profile-page form {
  background-color: #0a0a0a;
  border: 1px solid #F50000;
  border-radius: 12px;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 0 10px #F50000;
}
.profile-page form label {
  color: #F50000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  display: block;
}
.profile-page form input,
.profile-page form textarea,
.profile-page form select {
  background-color: black;
  color: white;
  border: 1px solid red;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  width: 100%;
}
.update a {
    color:#F5F5F5;
}
.update a:hover {
    color: #F50000;
}

/* Error Messages */
.custom-error {
  color: red;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
  margin-top: 0.25rem;
}

/**Footer */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 1rem;
}

/*Media Queries*/
/*1 Extra small mobile devices (phones, 320px and above)*/
@media screen and (min-width: 320px) {
    .hero-image img {
        height: 30vh;
    }
}

/*2 Small screens: Stack search items vertically */
@media (max-width: 425px) {
    .nav-search {
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
}

/*3 Small mobile devices (phones, 420px and above)*/
@media screen and (min-width: 425px) {
    .hero-image img {
        height: 35vh;
    }
    .result-card img {
        width: 300px;
        height: 300px;
        object-fit: contain;
    }
}
/*4 Medium mobile devices (phones, 576px and above)*/
@media screen and (min-width: 576px) {
    .hero-image img {
        height: 40vh;
    }
    .result-card img {
        width: 400px;
        height: 400px;
        object-fit: contain;
    }
}

/* Chrome autofill override for al input fields */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: black !important;
  color: #F5F5F5 !important;
  -webkit-text-fill-color: #F5F5F5 !important;
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  border: 1px solid #F50000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
/* Calendar icon visibility */
.page-item input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  opacity: 1;
  cursor: pointer;
}
