/* Global settings*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rock+Salt&display=swap');

body {
    background-color: black;
    color: white;
    font-size: 12px;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Comic Neue', sans-serif;
}
h1 {
    color: red;
    font-family: 'Rock Salt', sans-serif;
    margin-top: 20px;
}

/* Navigation bar */
.navbar-brand {
    color: #B9D2C9;
}
.navbar-brand:hover {
    color: #ff0000;
}
.navbar {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #a9a9a9;
}
.navbar-text{
    color: red;
    text-decoration: none;
    font-size: 1.2rem;
}
.nav-item:hover {
    color: #ff0000;
}
.nav-item a {
    color: #B9D2C9;
    text-decoration: none;
    font-size: 1.2rem;
}
.nav-item a:hover {
    color: #ff0000;
}
.nav-search {
    color: #B9D2C9;
    border-color: red;
    font-size: 1.2rem;
}
.nav-btn{
    color: #B9D2C9;
    border-color: red;
    background-color: black;
    font-size: 1.2rem;
}
.nav-btn:hover {
    color: #ff0000;
    background-color: black;
    border-color: red;
}
/* search bar*/
.nav-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem; /* spacing between stacked elements */

}
.nav-search select {
    color: #B9D2C9;
    border-color: red;
    background-color: black;
    font-size: 1.2rem;
    text-align: center;
}
.nav-search select:focus {
    outline: none;
    border-color: red;
    background-color: black;
    font-size: 1.2rem;
    box-shadow: none;
    color: #ff0000;
}
.nav-search input {
    color: #B9D2C9;
    border-color: red;
    background-color: black;
    font-size: 1.2rem;
    width: 100%;
}
.nav-search input:focus {
    border-color: red;
    outline: none;
    box-shadow: none;
    background-color: black;
    color: #B9D2C9;
}
form.d-flex select {
  width: 120px;
  min-width: unset;
}

form.d-flex input[type="text"] {
  flex: 1;
  min-width: 0;
}

/*Hero image and text*/
.hero-image {
    margin-top: 40px;
    margin-bottom: 20px;
    max-height: 80vh;
    overflow: hidden;
}
.hero-image img {
    height: 50vh;
}
.hero-image p {
    font-size : 20px;
    margin-bottom: 0;
}
.horns {
    max-height: 100px;
}

/*About page*/
.about{
    font-size: 1.2rem;
}

/*Sign up / Login pages*/
.page-item {
    font-size: 1.2rem;
    max-width: 700px;
    color: #B9D2C9;
}
/* Help text */
.helptext {
    /*font-size: 1.2em;*/
    color: #B9D2C9;
    /*margin-top: 0.25rem;
    margin-bottom: 0.5rem;*/
}
/* Help text list elements to adjust spacing and remove bullet points */
.page-item ul,
.page-item ul li 
/*.helptext,
.helptext li*/{
    list-style: none;
    /*font-size: 1rem;*/
    color: #B9D2C9;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}
/* Chrome autofill override for the input fields for the login and logout pages */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: black !important;
  color: #B9D2C9 !important;
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
  border: 1px solid red !important;
}

/*.page-item ul.helptext {
    padding-left: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}*/
/* Help text elements*/
.page-item input[type="text"],
.page-item input[type="email"],
.page-item input[type="password"],
.page-item select,
.page-item textarea {
  width: 100%;
  background-color: black !important;
  color: #B9D2C9;
  border: 1px solid red;
  font-size: 1.1rem;
  border-radius: 4px;
}
.page-item input:focus,
.page-item select:focus,
.page-item textarea:focus {
  outline: none;
  border-color: red;
  box-shadow: none;
  background-color: #111 !important;
}
/* Create account / Login button */
.page-btn{
    color: #B9D2C9;
    border-color: red;
    background-color: black;
    font-size: 1.2rem;
    border-radius: 7px;
    margin-top: 20px;
}
.page-btn:hover {
    color: #ff0000;
    background-color: black;
    border-color: red;
}
.logout {
    color: #B9D2C9;
    font-size: 1.2rem;
}

/**Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
}
.footer-contact {
    color: #B9D2C9;
    text-decoration: none;
    font-size: 1.5rem;
}
.footer-contact:hover {
    color: #ff0000;
}
.footer-p {
    font-size: 1.2rem;
}

/*Media Queries*/
/*1 Extra small mobile devices (phones, 320px and above)*/
@media screen and (min-width: 320px) {
    .hero-image img {
        height: 30vh;
    }
    .hero-image h1 {
        font-size: 1.3rem;
    }
    .hero-image p {
        font-size: 0.8rem;
    }
    .about {
        font-size: 1rem;
        margin-top: 20px;
    }
    .about p {
        margin-top: 20px;
    }
    .footer-contact {
        font-size: 1rem;
    }
    .footer-p {
        font-size: 0.7rem;
    }
}

/* Small screens: Stack search items vertically */
@media (max-width: 425px) {
    .nav-search {
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
}

/*2 Small mobile devices (phones, 420px and above)*/
@media screen and (min-width: 425px) {
    .hero-image img {
        height: 40vh;
    }
    .hero-image h1 {
        font-size: 1.4rem;
    }
    .hero-image p {
        font-size: 1rem;
    }
    .about {
        font-size: 1rem;
        margin-top: 20px;
    }
    .about p {
        margin-top: 20px;
    }
    .footer-contact {
        font-size: 1.3rem;
    }
    .footer-p {
        font-size: 1rem;
    }
}
/*3 Small mobile devices (phones, 420px and above)
@media (max-width: 576px)*/