/* Global settings*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rock+Salt&display=swap');

body {
    background-color: black;
    color: white;
    font-size: 12px;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Comic Neue', sans-serif;
}
h1 {
    color: red;
    font-family: 'Rock Salt', sans-serif;
}

/* Navigation bar */
.navbar-brand {
    color: #B9D2C9;
}
.navbar-brand:hover {
    color: #ff0000;
}
.navbar {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #a9a9a9;
}
.nav-item {
    color: #B9D2C9;
    text-decoration: none;
    font-size: 1.1rem;
}
.nav-item:hover {
    color: #ff0000;
}
.nav-item a {
    color: #B9D2C9;
    text-decoration: none;
}
.nav-item a:hover {
    color: #ff0000;
}

/*Hero image and text*/
.hero-image {
    margin-top: 40px;
    margin-bottom: 20px;
    max-height: 80vh;
    overflow: hidden;
}
.hero-image img {
    height: 50vh;
}
.hero-image p {
    font-size : 20px;
    margin-bottom: 0;
}
.horns {
    max-height: 100px;
}

/*About page*/
.about{
    font-size: 1.2rem;
}

/**Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
}
.footer-contact {
    color: #B9D2C9;
    text-decoration: none;
    font-size: 1.5rem;
}
.footer-contact:hover {
    color: #ff0000;
}
.footer-p {
    font-size: 1.2rem;
}

/*Media Queries*/
/*1 Extra small mobile devices (phones, 320px and above)*/
@media screen and (min-width: 320px) {
    .hero-image img {
        height: 30vh;
    }
    .hero-image h1 {
        font-size: 1.3rem;
    }
    .hero-image p {
        font-size: 0.8rem;
    }
    .about {
        font-size: 1rem;
        margin-top: 20px;
    }
    .about p {
        margin-top: 20px;
    }
    .footer-contact {
        font-size: 1rem;
    }
    .footer-p {
        font-size: 0.7rem;
    }
}
/*2 Small mobile devices (phones, 420px and above)*/
@media screen and (min-width: 425px) {
    .hero-image img {
        height: 40vh;
    }
    .hero-image h1 {
        font-size: 1.4rem;
    }
    .hero-image p {
        font-size: 1rem;
    }
    .about {
        font-size: 1rem;
        margin-top: 20px;
    }
    .about p {
        margin-top: 20px;
    }
    .footer-contact {
        font-size: 1.3rem;
    }
    .footer-p {
        font-size: 1rem;
    }
}