{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}{{ author.username }}'s Profile{% endblock %}

{% block content %}
<div class="container search-item py-4">
    <div class=" row mx-auto justify-content-center">
        <div class="col-12 text-center">
            <h1>{{ author.username }}'s Public Profile</h1>
            {% if profile and profile.image.url %}
                <img src="{{ profile.image.url }}" alt="{{ author.username }}'s profile picture" class="img-fluid mb-3">
            {% else %}
                <img src="https://res.cloudinary.com/dqde3a83z/image/upload/v1748106876/red-horns_meorvq.png" class="card-img-top horns" alt="Default horns image">
            {% endif %}
                <p>{{ profile.bio }}</p>
            {%if profile.location %}
                <p>Location: {{ profile.location }}</p>
            {% else %}
                <p>Location: Not specified</p>
            {% endif %}
            {% if profile.facebook %}
                <p>Facebook: <a href="{{ profile.facebook }}" target="_blank">{{ profile.facebook }}</a></p>
            {% endif %}
            {% if profile.instagram %}
                <p>Instagram: <a href="{{ profile.instagram }}" target="_blank">{{ profile.instagram }}</a></p>
            {% endif %}
            <h2>Reviews:</h2>
            <ul class="list-unstyled">
            {% for review in reviews %}
                <li class="mb-4">
                <div class="card result-card">
                    <div class="card-body"><strong>{{ review.artist.name }}</strong> — {{ review.title }} ({{ review.gig_date|date:"d/m/Y" }})</li>
            {% empty %}
                <li>This fan hasn't written any reviews yet.</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
