{% extends 'base.html' %}

{% block title %}{{ author.username }}'s Profile{% endblock %}

{% block content %}
<div class="container py-4">
  <h1>{{ author.username }}'s Public Profile</h1>
    {% if author.profile_picture %}
      <img src="{{ author.profile_picture.url }}" alt="{{ author.username }}'s profile picture" class="img-fluid mb-3">
    {% else %}
      <img src="https://res.cloudinary.com/dqde3a83z/image/upload/v1748106876/red-horns_meorvq.png" class="card-img-top horns" alt="Default horns image">
    {% endif %}
    <h3>Reviews:</h3>
    <ul>
    {% for review in reviews %}
      <li>
        <strong>{{ review.title }}</strong> — {{ review.artist.name }} ({{ review.gig_date|date:"d/m/Y" }})
      </li>
    {% empty %}
      <li>This fan hasn't written any reviews yet.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
