{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}{{ author.username }}'s Profile{% endblock %}

{% block content %}
<div class="container search-item py-4">
  <div class="row mx-auto justify-content-center">
    <div class="col-12 text-center profile-page">
      <h1>{{ author.username }}'s Public Profile</h1>
      <div class="result-card">
        {% if profile and profile.image.url and "placeholder" not in profile.image.url %}
          <img src="{{ profile.image.url }}" alt="{{ author.username }}'s profile picture" class="img-fluid mb-3">
        {% else %}
          <img src="https://res.cloudinary.com/dqde3a83z/image/upload/v1748106876/red-horns_meorvq.png" class="card-img-top horns" alt="Default horns image">
        {% endif %}
        {% if profile.bio %}
          <p>{{ profile.bio }}</p>
        {% endif %}
        <p>Location:
          {% if profile.location %}
            {{ profile.location }}
          {% else %}
            Not specified
          {% endif %}
        </p>
        {% if profile.facebook %}
            <p>Facebook: <a href="{{ profile.facebook }}" class="link" target="_blank">{{ profile.facebook }}</a></p>
        {% endif %}
        {% if profile.instagram %}
            <p>Instagram: <a href="{{ profile.instagram }}" class="link" target="_blank">{{ profile.instagram }}</a></p>
        {% endif %}
      </div>
    </div>
    {% include 'partials/reviews_section.html' %}
  </div>
</div>

{% endblock %}
