{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Meta tags for search engines-->
      <meta name="description" content="Battle of the Emerging Rock Bands in 2025">
      <meta name="Keywords" content="Battle of the bands, emerging rock and metal bands,rock and roll,heavy metal,independant fesitvals">
      <meta name="author" content="axdesigns">
  <title>Praise The Loud</title>
  <link rel="icon" type="image/png" href="https://res.cloudinary.com/dqde3a83z/image/upload/v1748101449/praise-the-loud-logo-v8.1_ok6gen.png">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>  
    
<nav>
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'about' %}">About</a> |
  {% if user.is_authenticated %}
    Hello {{ user.username }} |
    <a href="{% url 'profile' %}">Profile</a> |
    <a href="{% url 'review' %}">New Gig Review</a> |
    <a href="{% url 'logout' %}">Logout</a> 
  {% else %}
    <a href="{% url 'login' %}">Login</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
  {% endif %}
  <form method="get" action="{% url 'search_view' %}">
    {{ form.search_type }}
    {{ form.search_term }}
    <button type="submit">Search</button>
  </form>

</nav>


  <div class="content" >
    {% block content %}{% endblock %}
  </div>

<footer style="text-align: center; margin-top: 40px;">
  <a href="{% url 'contact' %}">Contact</a>
  <p>/*axdesigns*/</p>
  <p>&copy; 2025</p>
</footer>

<!-- Include JavaScript files -->
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>